<app-feedback-form-header [isFirstStep]="false"></app-feedback-form-header>
<ion-item>
  <ion-label>Saisissez votre avis</ion-label>
</ion-item>

<ion-content class="ion-padding">
  <form [formGroup]="feedbackMainContentForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked"><h1>Titre</h1></ion-label>
        <ion-input formControlName="feedbackTitle" placeholder="Résumé de votre retour d'expérience"></ion-input>
      </ion-item>

      <ion-item>
        <ion-select formControlName="rating" label="Note de votre expérience" labelPlacement="floating">
          <ion-select-option *ngFor="let rating of companyRatings" [value]="rating">{{ rating }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked"><h1>Description</h1></ion-label>
        <ion-textarea formControlName="feedbackText" [autoGrow]="true" placeholder="Décrivez votre expérience"></ion-textarea>
      </ion-item>
    </ion-list>

    <ion-toolbar class="feedback-form-bottom-toolbar">
      <ion-button type="submit" [disabled]="feedbackMainContentForm.invalid" shape="round">Suivant <ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
    </ion-toolbar>
    <ion-toolbar class="feedback-form-bottom-toolbar">
      <ion-label>Étape 3/4</ion-label>
    </ion-toolbar>
  </form>
</ion-content>
