.postAuthur{
    color: #070707 ;
    font-family: 'Georgia' , serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
}
.postOccup{
    color: #000000 ;
    font-family: 'Georgia' , serif;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
}
.postPoe{
    color: #3a3939 ;
    font-family: 'Georgia' , serif;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
}
.img {
    border: #474646;
    border-style: double;
}