<ion-card-header>
  <ion-card-title>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <ion-avatar>
              <img class="img"
                alt="Silhouette of a person's head"
                src="https://ionicframework.com/docs/img/demos/avatar.svg"
              />
            </ion-avatar>
          </ion-col>
          <ion-col>
            <ion-row>
              <ion-label class="postAuthur">{{ intern.firstname }} {{ intern.lastname }}
              </ion-label>
            </ion-row>
            <ion-row>
              <ion-label class="postOccup">{{ intern.occupation }} chez
                {{ intern.company.name }}</ion-label
              >
            </ion-row>
            <ion-row>
              <ion-note class="postPoe">{{ intern.poe.name }} ({{
                  intern.poe.beginAt | date : "dd/MM/yyy"
                }}
                - {{ intern.poe.endAt | date : "dd/MM/yyy" }})</ion-note
              >
            </ion-row>
          </ion-col>
          <ion-col size="1"> </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card-title>
</ion-card-header>
