# exclude node_modules
node_modules

# TS/JS app build dir
*/dist/

# VS Code workspaces save files
*.code-workspace
*/.vscode/

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
env
