<ion-card-header>
  <ion-card-title>

  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-label>{{ intern.firstname }} {{ intern.lastname }} </ion-label>
        </ion-row>
        <ion-row>
          <ion-label>{{ intern.occupation }} chez {{ intern.company.name }}</ion-label>
        </ion-row>
        <ion-row>
          <ion-note>{{ intern.poe.name }} ({{ intern.poe.beginAt | date: 'dd/MM/yyy'}} - {{ intern.poe.endAt | date: 'dd/MM/yyy' }})</ion-note>
        </ion-row>
      </ion-col>
      <ion-col size="1">
        <ion-icon class="ion-float-right" [id]="intern._id" name="ellipsis-vertical-outline"></ion-icon>
          <ion-popover trigger={{intern._id}} [dismissOnSelect]="true">
            <ng-template>
              <ion-content>
                <ion-list>
                  <ion-item (click)="showDetail(intern._id)" [button]="true" [detail]="false">Détail</ion-item>
                  <ion-item [button]="true" [detail]="false">Chat</ion-item>
                </ion-list>
              </ion-content>
            </ng-template>
          </ion-popover>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  
  </ion-card-title>
</ion-card-header>

