// .postImg{
//     width:50%;
//     height:50%;
// }
// .divContainerChild ion-img {
//     width:20%;
//     height:50%;
//     object-fit: cover; 
// }
.marginTop{
    margin-top:1%;
}
.blackColor{
    color:black;
}
#postContent{
        color: #000000 ;
        font-family: 'Georgia' , serif;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 1px;
}

/* Styles pour les écrans mobiles (max-width: 600px) */
@media (min-width: 925px) and (max-width: 2000px) {
    .postContainer{
        width:600px;
    }
}
.postTitle{
    color: #344977 ;
    font-family: 'Georgia' , serif;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
}
.postDate{
    color: #2b2b2b ;
    font-family: 'Georgia' , serif;
    font-size: 10px;
    font-weight: 200;
}