<ion-header [translucent]="true">
  <ion-toolbar class="toolbarLayOut">
    <div class="toolBarChild">
      <h1 class="styleHead"> Retours d'epériences </h1>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-input class="inputStyle" label="" placeholder="Entrer le nom d'entreprise" [value]="inputModel" (ionInput)="onInput($event)" #ionInputEl [clearInput]="true"></ion-input>
  </ion-item>

    <ion-list class="list">
      <ion-item class="item" *ngFor="let company of filteredComp" [button]="true">
        <app-company *ngIf="company.id !== undefined" class="comp" [company]="company" (click)="selectCompany(company.id)"></app-company>
      </ion-item>
    </ion-list>
<!--     <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll> -->

    <ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="addFeedback()">
      <ion-fab-button class="btncolor">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
