<ion-header [translucent]="true">
  <ion-toolbar class="toolbarLayOut">
    <div class="toolBarChild">
      <img class="logoSize" src="/assets/icon/aelion_logo.png">
      <h1> Expériences Professionnelles </h1>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-input label="" placeholder="Entrer le nom d'entreprise" [value]="inputModel" (ionInput)="onInput($event)" #ionInputEl [clearInput]="true"></ion-input>
  </ion-item>

    <ion-list class="list">
      <ion-item class="item" *ngFor="let company of filteredComp">
        <app-company *ngIf="company.id !== undefined" class="comp" [company]="company" (click)="onClick(company.id)"></app-company>
      </ion-item>
    </ion-list>
<!--     <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll> -->
</ion-content>
