<ion-header [translucent]="true">
  <ion-toolbar class="toolbarLayOut">
   
    <div class="toolBarChild">
      <div class="return">
        <ion-icon name="arrow-back" (click)="back()"></ion-icon>
      </div>
      <div class="title">
        <img class="logoSize" src="/assets/logo-aelion-blanc.png">
        <h1> {{company?.name}} </h1>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="list">
    <ion-item class="item" *ngFor="let feedback of listFeedback ; let i = index">
      <app-feedback *ngIf="feedback.id !== undefined" class="comp" [feedback]="feedback" [index]="i"></app-feedback>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
