<ion-header [translucent]="true">
  <ion-toolbar class="toolbarLayOut">
    <div class="toolBarChild">
      <div class="return">
        <ion-button class="btncolor" (click)="cancelOrPrevious()">
          <ion-icon *ngIf="isFirstStep" name="close-outline"></ion-icon>
          <ion-icon *ngIf="!isFirstStep" name="arrow-back"></ion-icon>
        </ion-button>
      </div>
      <div class="title">
        <h1 class="styleHead">Nouveau retour d'expérience</h1>
      </div>
    </div>
  </ion-toolbar>
</ion-header>