<ion-card>
  <ion-card-header>
    <ion-card-title>

      <ion-item lines="none">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label>{{ feedback.firstname }} {{feedback.lastname}}</ion-label>
            </ion-col>
            <ion-col>
              <ion-label>Avis : {{ feedback.rating }}</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-label>{{ feedback.jobTitle }}</ion-label>
          </ion-row>
          <ion-row>
            <ion-note>du {{feedback.jobStartDate | date: 'dd/MM/yyy'}} au {{feedback.jobEndDate | date: 'dd/MM/yyy'}}</ion-note>
          </ion-row>
          <ion-row>
            <ion-title>{{feedback.feedbackTitle}}</ion-title>
          </ion-row>
          <ion-row>
            <ion-label>{{feedback.feedbackText}}</ion-label>
          </ion-row>
          <ion-row *ngIf="feedback.salaryLow !== null">
            <ion-note *ngIf="feedback.salaryLow && feedback.salaryHigh === null">Salaire : {{feedback.salaryLow}}€ {{feedback.salaryFormat}}</ion-note>
            <ion-note *ngIf="feedback.salaryLow && feedback.salaryHigh">Salaire : entre {{feedback.salaryLow}}€ et {{feedback.salaryHigh}}€ {{feedback.salaryFormat}}</ion-note>
          </ion-row>
          <ion-row>
            <ion-note>Posté le {{feedback.postedAt | date: 'dd/MM/yyy'}}</ion-note>
          </ion-row>
        </ion-grid>
      </ion-item>
    
    </ion-card-title>
  </ion-card-header>
</ion-card>