<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="previous()"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Nouveau retour d'expérience</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>Vous allez maintenant pouvoir écrire votre retour d'expérience.</p>
  <p>Nous vous rappelons que le but de cet espace est de partager honnêtement nos connaissances, 
    entre personnes de la communauté Aelion/Unlearn, dans l'intérêt professionnel de chacun·e.
  </p>
  <p>Veillez donc à respecter cette charte :</p>
  <ion-list>
    <!-- <ion-list-header>Veillez donc à respecter cette charte :</ion-list-header> -->
    <ion-item lines="none"><ion-icon class="height" name="caret-forward-outline"></ion-icon><ion-label>Les retours sont uniquement destinés à notre communauté. Ne les transmettez pas hors de la communauté.</ion-label></ion-item>
    <ion-item lines="none"><ion-icon class="height" name="caret-forward-outline"></ion-icon><ion-label>Les retours ne sont pas un défouloir. Pas d'insultes et de langage vulgaire</ion-label></ion-item>
    <ion-item lines="none"><ion-icon class="height" name="caret-forward-outline"></ion-icon><ion-label>Ne pas nommer d'individus (hiérarchie, collègues, ...)</ion-label></ion-item>
    <ion-item lines="none"><ion-icon class="height" name="caret-forward-outline"></ion-icon><ion-label>...</ion-label></ion-item>
  </ion-list>
  <p>Enfin, nous vous rappelons aussi que les retours d'expérience sont soumis à une modération avant publication.</p>

  <ion-checkbox labelPlacement="start" alignment="center" (ionChange)="toggleCharterAgreement($event)">Je m'engage à respecter la présente charte</ion-checkbox>

  <br/>

  <ion-toolbar class="feedback-form-bottom-toolbar">
    <ion-button (click)="next()" [disabled]="!charterAgreedTo" shape="round">Suivant <ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-content>
