<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profil</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- here, *ngIf delays the display of app-intern-info until the intern attribute (in intern.page.ts)
   contains an InternType object. While waiting for app-intern-info to be displayed, display the ng-template,
   which just says "Chargement des détails..." -->
  <app-intern-info [intern]="intern" *ngIf="intern; else noContent"></app-intern-info>
  <ng-template #noContent>Chargement des détails...</ng-template>
</ion-content>
