<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="previous()"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Nouvel Avis - étape 6</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="finish()" [strong]="true">Envoyer</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <app-feedback class="comp" [feedback]="companyFeedback" [index]="0"></app-feedback>

  <ion-checkbox labelPlacement="start" alignment="center" (ionChange)="toggleCharterRespect($event)">Je confirme que retour d'expérience respecte la charte</ion-checkbox>

  <br/>

  <ion-button type="button" (click)="finish()" [disabled]="!charterRespected">Demander la publication par l'équipe de modération</ion-button>
</ion-content>
