<app-feedback-form-header [isFirstStep]="false"></app-feedback-form-header>
<ion-item>
  <ion-label>Visualisation de votre avis</ion-label>
</ion-item>
<ion-content class="ion-padding">
  <app-feedback class="comp" [feedback]="companyFeedback" [index]="0" [isPreview]="true"></app-feedback>

  <ion-checkbox labelPlacement="start" alignment="center" (ionChange)="toggleCharterRespect($event)">Je confirme que mon retour d'expérience respecte la charte</ion-checkbox>

  <br/>

  <ion-toolbar class="feedback-form-bottom-toolbar">
    <ion-button (click)="finish()" [disabled]="!charterRespected" shape="round">Demander la publication par l'équipe de modération <ion-icon name="send-outline"></ion-icon></ion-button>
  </ion-toolbar>
  <ion-toolbar class="feedback-form-bottom-toolbar">
    <ion-label>Étape 4/4</ion-label>
  </ion-toolbar>
</ion-content>
