.tabBarDeconnect{
    background-color: #2d3041;
    color: white;
}
.styleTabs{
    color: #ffffff ;
    font-family: 'Georgia' , serif;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 2px;
}