<!-- feedback-form-step2.component.html -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="previous()"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Nouvel Avis - étape 2</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="next()" [strong]="true">Suivant</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form">
    <ion-item>
      <ion-label position="floating">Nom de l'entreprise</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Type d'entreprise</ion-label>
      <ion-select formControlName="type">
        <ion-select-option *ngFor="let type of companyTypes" [value]="type">{{ type }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Évaluation</ion-label>
      <ion-select formControlName="medianRating">
        <ion-select-option *ngFor="let rating of companyRatings" [value]="rating">{{ rating }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Logo</ion-label>
      <ion-input formControlName="logo"></ion-input>
    </ion-item>

    <p>help</p>

    <ion-button type="button" (click)="next()" [disabled]="!form.valid">Créer l'entreprise</ion-button>
  </form>
</ion-content>

