<app-feedback-form-header [isFirstStep]="false"></app-feedback-form-header>

<ion-content class="ion-padding">
  <div class="feedback-form-step-purpose"><h3>Créer une nouvelle entreprise</h3></div>
  
  <form [formGroup]="form">
    <ion-item>
      <ion-label position="floating">Nom de l'entreprise</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Type d'entreprise</ion-label>
      <ion-select formControlName="type">
        <ion-select-option *ngFor="let type of companyTypes" [value]="type">{{ type }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-toolbar class="feedback-form-bottom-toolbar">
      <ion-button (click)="next()" [disabled]="!form.valid" shape="round">Suivant <ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
    </ion-toolbar>
    <ion-toolbar class="feedback-form-bottom-toolbar">
      <ion-label>Étape 1/4</ion-label>
    </ion-toolbar>
  </form>
</ion-content>

